@import '@/styles/variables';

.content {
    z-index: 50;
    overflow: hidden;
    border-radius: var(--radius);
    border: 1px solid hsl(var(--border));
    background-color: hsl(var(--popover));
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    color: hsl(var(--popover-foreground));
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);

    &[data-state='delayed-open'] {
        animation: fadeIn 0.15s ease-out, zoomIn 0.15s ease-out;
    }

    &[data-state='closed'] {
        animation: fadeOut 0.15s ease-in, zoomOut 0.15s ease-in;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.95);
    }

    to {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.95);
    }
}