@import '@/styles/variables';

.label {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1;
    color: hsl(var(--foreground));

    &[data-disabled] {
        cursor: not-allowed;
        opacity: 0.7;
    }
}