@import '@/styles/variables';
@import '@/styles/mixins';

.overlay {
    position: fixed;
    inset: 0;
    z-index: 50;
    background-color: rgb(0 0 0 / 0.8);

    &[data-state='open'] {
        animation: fadeIn 0.15s ease-out;
    }

    &[data-state='closed'] {
        animation: fadeOut 0.15s ease-in;
    }
}

.content {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 50;
    display: grid;
    width: 100%;
    max-width: 32rem;
    transform: translate(-50%, -50%);
    gap: 1rem;
    border: 1px solid hsl(var(--border));
    background-color: hsl(var(--background));
    padding: 1.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;

    &[data-state='open'] {
        animation: contentShow 0.15s ease-out;
    }

    &[data-state='closed'] {
        animation: contentHide 0.15s ease-in;
    }

    @include mobile {
        width: 90%;
        border-radius: 0.5rem;
    }
}

.close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    border-radius: var(--radius);
    opacity: 0.7;
    transition: opacity 0.2s;

    &:hover {
        opacity: 1;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px hsl(var(--ring));
    }
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    text-align: center;

    @include desktop {
        text-align: left;
    }
}

.footer {
    display: flex;
    flex-direction: column-reverse;

    @include desktop {
        flex-direction: row;
        justify-content: flex-end;
        gap: 0.5rem;
    }
}

.title {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: none;
    letter-spacing: -0.025em;
}

.description {
    font-size: 0.875rem;
    color: hsl(var(--muted-foreground));
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes contentHide {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }
}