@import '@/styles/variables';
@import '@/styles/mixins';

.viewport {
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    max-height: 100vh;
    width: 100%;
    flex-direction: column-reverse;
    padding: 1rem;
    gap: 0.5rem;

    @include mobile {
        bottom: 0;
        right: 0;
        top: auto;
        flex-direction: column;
        max-width: 420px;
    }
}

.toast {
    pointer-events: auto;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    overflow: hidden;
    border-radius: var(--radius);
    border: 1px solid hsl(var(--border));
    padding: 1.5rem;
    padding-right: 2rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    transition: all 0.2s;

    &[data-state='open'] {
        animation: slideIn 0.15s ease-out;
    }

    &[data-state='closed'] {
        animation: slideOut 0.15s ease-in;
    }

    &[data-swipe='move'] {
        transform: translateX(var(--radix-toast-swipe-move-x));
        transition: none;
    }

    &[data-swipe='cancel'] {
        transform: translateX(0);
        transition: transform 0.2s ease-out;
    }

    &[data-swipe='end'] {
        transform: translateX(var(--radix-toast-swipe-end-x));
        animation: slideOut 0.15s ease-in;
    }
}

.default {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}

.destructive {
    border-color: hsl(var(--destructive));
    background-color: hsl(var(--destructive));
    color: hsl(var(--destructive-foreground));

    .action {
        border-color: hsl(var(--muted) / 0.4);

        &:hover {
            border-color: hsl(var(--destructive) / 0.3);
            background-color: hsl(var(--destructive));
            color: hsl(var(--destructive-foreground));
        }

        &:focus {
            box-shadow: 0 0 0 2px hsl(var(--destructive));
        }
    }

    .close {
        color: rgb(252 165 165);
        /* red-300 */

        &:hover {
            color: rgb(254 242 242);
            /* red-50 */
        }

        &:focus {
            box-shadow: 0 0 0 2px rgb(248 113 113);
            /* red-400 */
        }
    }
}

.action {
    display: inline-flex;
    height: 2rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    border: 1px solid transparent;
    background-color: transparent;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    transition: colors 0.2s;

    &:hover {
        background-color: hsl(var(--secondary));
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px hsl(var(--ring)), 0 0 0 4px hsl(var(--background));
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.close {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    border-radius: var(--radius);
    padding: 0.25rem;
    color: hsl(var(--foreground) / 0.5);
    opacity: 0;
    transition: opacity 0.2s;

    .toast:hover & {
        opacity: 1;
    }

    &:hover {
        color: hsl(var(--foreground));
    }

    &:focus {
        opacity: 1;
        outline: none;
        box-shadow: 0 0 0 2px hsl(var(--ring));
    }
}

.title {
    font-size: 0.875rem;
    font-weight: 600;
}

.description {
    font-size: 0.875rem;
    opacity: 0.9;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}