@import '@/styles/variables';
@import '@/styles/mixins';

.root {
    display: grid;
    gap: 0.5rem;
}

.item {
    aspect-ratio: 1/1;
    height: 1rem;
    width: 1rem;
    border-radius: 9999px;
    border: 1px solid hsl(var(--primary));
    color: hsl(var(--primary));
    background: transparent;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 2px hsl(var(--ring)), 0 0 0 4px hsl(var(--background));
    }
}

.indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.circle {
    height: 0.625rem;
    width: 0.625rem;
    fill: currentColor;
    color: currentColor;
}