@import '@/styles/variables';

.list {
    display: inline-flex;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    background-color: hsl(var(--muted));
    padding: 0.25rem;
    color: hsl(var(--muted-foreground));
}

.trigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 0.125rem;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    border: none;
    background: transparent;
    color: inherit;
    transition: all 0.2s;
    cursor: pointer;

    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    &[data-state='active'] {
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    }

    &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 2px hsl(var(--ring)), 0 0 0 4px hsl(var(--background));
    }
}

.content {
    margin-top: 0.5rem;

    &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 2px hsl(var(--ring)), 0 0 0 4px hsl(var(--background));
    }
}